<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.exit.mapper.LotMapper">

	<insert id="register">
	<![CDATA[
		INSERT INTO exit_search_lot(idx, lot_no, lot_size, code, codeName, pass_or_fail
		, constructor, creationDate,note) 
		VALUES (SEARCH_LOT_SEQ.nextval,ZBF_GET_BATCHKEY('now'),#{lot_size},#{code},#{codeName},#{pass_or_fail},
		#{constructor},sysdate,#{note})
	]]>
	</insert>

	<select id="searchList" resultType="erp.exit.domain.LotVO">
	<![CDATA[
		SELECT rownum "rn", idx, lot_no, lot_size, code, codeName, pass_or_fail
		, constructor, creationDate,note
        FROM
        (SELECT idx, lot_no, lot_size, code, codeName, pass_or_fail
		, constructor, creationDate,note FROM exit_search_lot ORDER BY idx DESC)
		]]>
	</select>

	<!-- Code 오토컴플리트 -->
	<select id="autoCode" resultType="erp.exit.domain.LotVO">
		<![CDATA[
			SELECT DISTINCT(code) FROM exit_infoitem
			WHERE code LIKE '%'||#{code}||'%'
		]]>
	</select>
	
	<!-- CodeName 자동입력 -->
	<select id="autoCodeName" resultType="erp.exit.domain.LotVO">
		<![CDATA[
			SELECT DISTINCT(b.code), a.codename FROM exit_product a, exit_infoitem b
			WHERE a.code = b.code AND b.code = #{code}
		]]>
	</select>

	<select id="itemList" resultType="erp.exit.domain.InfoItemVO">
	<![CDATA[
		SELECT rownum "rn", idx, code, inspectionitem, inspectionitemname, qua, samplewater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, note
        FROM(SELECT idx, code, inspectionItem, inspectionItemName, qua,sampleWater, 
		ac,re,usl,sl,lsl,ucl,cl,lcl,unit,note FROM exit_infoitem WHERE code LIKE #{code} ORDER BY idx DESC)
		]]>
	</select>



</mapper>
